<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kg.AD">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,ExtraText">
        <activity android:name=".mainElements.java.ToggleButtonElement" />
        <activity android:name=".mainElements.java.ButtonElement" />
        <activity android:name=".mainElements.java.TextViewElement" />
        <activity android:name=".mainElements.xml.Pickers" />
        <activity android:name=".mainElements.xml.DatePickerElement" />
        <activity android:name=".mainElements.xml.TimePickerElement" />
        <activity android:name=".mainElements.xml.RadioButtonElement" />
        <activity android:name=".mainElements.xml.ToggleButtonElement" />
        <activity android:name=".mainElements.xml.CheckboxElement" />
        <activity android:name=".mainElements.xml.SnackbarWindow" />
        <activity android:name=".mainElements.xml.ToastWindow" />
        <activity android:name=".mainElements.xml.ButtonElement" />
        <activity android:name=".mainElements.xml.LayoutApp" />
        <activity android:name=".mainElements.xml.EditTextElement" />
        <activity android:name=".mainElements.xml.TextViewElement" />
        <activity android:name=".mainElements.Calculator" />
        <activity android:name=".interfaceWorks.java.containers.ScrollViewContainer" />
        <activity android:name=".interfaceWorks.java.containers.FrameLayoutContainer" />
        <activity android:name=".interfaceWorks.java.containers.LinearLayoutContainer" />
        <activity android:name=".interfaceWorks.java.containers.RelativeLayoutContainer" />
        <activity android:name=".interfaceWorks.xml.containers.ConstraintLayoutContainer" />
        <activity android:name=".interfaceWorks.xml.containers.GridLayoutContainer" />
        <activity android:name=".interfaceWorks.xml.containers.FrameLayoutContainer" />
        <activity android:name=".interfaceWorks.xml.containers.TLCDisplayMessage" />
        <activity android:name=".interfaceWorks.xml.containers.TableLayoutContainer" />
        <activity android:name=".interfaceWorks.xml.containers.RelativeLayoutContainer" />
        <activity android:name=".interfaceWorks.xml.containers.VerticalLinearLayout" />
        <activity android:name=".interfaceWorks.xml.containers.HorizontalLinearLayout" />
        <activity android:name=".interfaceWorks.java.containerElements.Indents" />
        <activity android:name=".interfaceWorks.java.containerElements.Units" />
        <activity android:name=".interfaceWorks.xml.containerElements.Indents" />
        <activity android:name=".interfaceWorks.xml.containerElements.Units" />
        <activity android:name=".interfaceWorks.java.elements.Element" />
        <activity android:name=".interfaceWorks.java.elements.GravityElement" />
        <activity android:name=".interfaceWorks.xml.elements.MainPanel" />
        <activity android:name=".interfaceWorks.xml.elements.TextPanel" />
        <activity android:name=".interfaceWorks.xml.elements.ButtonPanel" />
        <activity android:name=".interfaceWorks.xml.elements.GravityElement" />
        <activity android:name=".interfaceWorks.xml.elements.Element" />
        <activity android:name=".begin.DisplayMessageActivity" />
        <activity android:name=".begin.GraphicApplication" />
        <activity android:name=".begin.HelloAndroid" />
        <activity android:name=".chapters.AllContainers" />
        <activity android:name=".chapters.AdaptersAndListsChapter" />
        <activity android:name=".chapters.ImageChapter" />
        <activity android:name=".chapters.ActivityChapter" />
        <activity android:name=".chapters.ResourcesChapter" />
        <activity android:name=".chapters.MainElementsChapter" />
        <activity android:name=".chapters.InterfaceChapter" />
        <activity android:name=".chapters.BeginChapter" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>